* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* degiskenler */
:root {
  --background-color: #292929;
  --seat-color: #444451;
  --text-color: #777;
  --selected-color: #f6eb6f;
  --reversed-color: #fff;
  --info-background: rgba(0, 0, 0, 0.2);

  /* animations */
  --transition: all 0.5s ease;
  /* shadow */
  --box-shadow: 1px 10px 45px 7px rgba(255, 255, 255, 0.75);
}
body {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}
.screen {
  height: 100px;
  width: 100%;
  margin: 50px 0;
  box-shadow: var(--box-shadow);
}
.screen-img {
  width: 50px;
  height: 100px;
  object-fit: contain;
}

.seatRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.seat {
  color: var(--seat-color);
  font-size: 20px;
  transition: var(--transition);
}
.seat.selected {
  color: var(--selected-color);
  background-color: transparent;
}

.seat.reserved {
  color: var(--reversed-color);
}
.seat:not(.reserved):hover {
  transform: scale(1.3);
  cursor: pointer;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--info-background);
  padding: 10px 25px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--text-color);
}
.infoText {
  color: var(--reversed-color);
  display: none;
}
.infoText span {
  color: white;
}
